<!-- pages template -->
  <div id="pages-content" data-id="{{dataId}}">
    <h1>{{title}}</h1>
    <h2>{{heading}}</h2>
    <p>{{body}}</p>
    <p>{{footer}}</p>
    <button type="button" class="pagesDeleteButton" data-id="{{dataId}}" name="deleteButton">Delete</button>
  </div>
